<% provide(:title, t("sessions.new.title")) %>
<div id="login-background">
    <%= image_tag "placeholders/headers/login_header.jpg" %>
</div>
<div id="login-container" class="animation-fadeIn">
    <!-- Login Title -->
    <div class="login-title text-center">
        <h1><i class="gi gi-flash"></i> <strong>Training system</strong><br><small>Please <strong>Login</strong></small></h1>
    </div>
    <div class="block push-bit">
        <!-- Login Form -->
        <form action="" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
          <%= form_for(:session, url: login_path) do |f| %>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                  <%= f.email_field :email, class: "form-control input-lg", placeholder: "Email" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                  <%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
                </div>
              </div>
            </div>
            <div class="form-group form-actions">
              <div class="col-xs-4">
                <%= f.label :remember_me, class: "switch switch-primary", title: "Remember Me on this computer?" do %>
                    <%= f.check_box :remember_me %>
                  <span></span>
                <% end %>
              </div>
              <div class="col-xs-8 text-right">
                <%= f.submit t("sessions.new.submit"), class: "btn btn-sm btn-primary" %>
              </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <%= link_to t("sessions.new.forgot"), new_password_reset_path %>
                </div>
            </div>
          <% end %>
        </form>
      </div>
    <footer class="text-muted text-center">
        <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">ProUI 2.1</a></small>
    </footer>
</div>
