<tr>
  <td class="text-center"><%= subject.id %></td>
  <td><%= link_to subject.name, subject %></td>
  <td><%= subject.description %></td>
  <td class="text-center">
      <div class="btn-group">
          <%= link_to edit_subject_path(subject), class: "btn btn-xs btn-default" do %><i class="fa fa-pencil"></i><% end %>
            <%= link_to subject, method: :delete, data: {confirm: t("user.user.confirm")}, class: "btn btn-xs btn-danger" do %><i class="fa fa-times"></i> <% end %>
      </div>
  </td>
</tr>
