<div id="page-content">
  <!-- Courses Header -->
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="fa fa-globe"></i><strong><%= @course.name%></strong><br><small><%= @course.description %></small>
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li>Home</li>
    <li>Course Detail</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <!-- Course Widget -->
      <div class="widget">
        <div class="widget-advanced">
          <!-- Widget Header -->
          <div class="widget-header text-center themed-background-dark">
            <div class="widget-options">
              <button class="btn btn-xs btn-default" data-toggle="tooltip" title="Love it!"><i class="fa fa-circle-o-notch text-danger"></i></button>
            </div>
            <h3 class="widget-content-light">
              <a href="page_ready_elearning_course_lessons.html"><%= @course.name%></a><br>
              <small><%= @course.start_time%> - <%= @course.end_time%></small>
            </h3>
          </div>
          <div class="widget-main">
            <a href="javascript:void(0)" class="widget-image-container animation-fadeIn">
              <span class="widget-icon themed-background"><i class="fa fa-globe"></i></span>
            </a>

            <a href="javascript:void(0)" class="btn btn-sm btn-default pull-right">
            <i class="fa fa-users"></i>
            <%= @trainer_count%> Trainer,
            <%= @trainee_count%> Trainee
            </a>
            <%if @course.status == 1%>
              <div id="in-progress">
              <%= form_for UserSubject.new ,
                html: {class: "", title: "start this course"},
                remote: true do |f|%>
                <%= f.hidden_field :course_id, :value => params[:id] %>
              <%= f.submit "Start" ,class: "btn btn-primary",id: "start_course"%>
              <%end%>
              </div>
            <%elsif @course.status == 2%>
              <span class ="btn btn-primary">In Progress</span>
              </div>
            <%elsif @course.status == 3%>
              <span class ="btn btn-danger">Finish</span>
              <%end%>
            <hr>
            <!-- Lessons -->
            <%number=1%>
            <%@subjects.each do |subject|%>
            <table class="table table-vcenter">
              <thead>
                <tr class="active">
                  <th><%=number%>. <%= subject.name%></th>
                  <th class="text-right"><small><em>2 hours</em></small></th>
                </tr>
              </thead>
              <tbody>
                <%demtask = 1%>
                <%tasks = Task.select_tasks(subject.id)%>
                <%tasks.each do |task| %>
                <tr>
                  <td><%=number%>.<%=demtask%> <%=task.name%></td>
                  <td class="text-right"><a href="page_ready_elearning_course_lesson.html" class="btn btn-xs btn-primary"><i class="fa fa-play"></i> Start</a></td>
                </tr>
                <% end %>
                <%demtask = demtask +1 %>
              </tbody>
            </table>
            <% number = number+1 %>
            <% end %>
            <!-- END Lessons -->
          </div>
          <!-- END Widget Main -->
        </div>
      </div>
      <!-- END Course Widget -->
    </div>
  </div>
  <!-- END Main Row -->
</div>
